<main>

    <section id="catalog">
        <h1>All posts</h1>
        <div class="band">
            {{#if isEmpty}}
                    <div class="no-posts">
                        <p class="no-offer">There are no posts yet...</p>
                    </div>
            {{else}}
                {{#each posts}}
                    {{>postTemplate}}
                {{/each}}
            {{/if}}
        </div>
    </section>
</main>