<main>
    <section id="my-posts">
        <h1>My post</h1>

        <div class="my-container">

            {{#if isEmpty}}
                <div class="no-posts">
                    <p class="no-offer">There are no own posts yet...</p>
                </div>
            {{else}}
                {{#each posts}}
                    {{>profilePostTemplate}}
                {{/each}}
            {{/if}}
        </div>
    </section>

</main>